.page_boundary{
	border: 1px solid #83aed0;
}
body{
	text-align: center;
}
.page_boundary{
	display: inline-block;
	height: 1100px;
	width: 850px;
}
.top_half{
	position: relative;
	height: 45%;
	background-image: url("main_image.jpeg");
	background-color: #cccccc;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.top_half div{
	position: absolute;
	bottom: 0;
	left: 25px;
	letter-spacing: 0.1em;
	font-family: 'Squada One', cursive;
	font-size: 120px;
	color: white;
	margin-bottom: -23px;
	 -webkit-text-stroke: 1px #83aed0; 
   	color: white;
   	 text-shadow:
   	       3px 3px 0 #83aed0,
   	     -1px -1px 0 #83aed0,
   	      1px -1px 0 #83aed0,
   	      -1px 1px 0 #83aed0,
   	       1px 1px 0 #83aed0; 
}
.divider{
	height: 7%;
	font-family: 'Squada One', cursive;
	font-size: 70px;
	color: white;
	background-color: #83aed0;
}
.bottom_half{
	font-family: 'Roboto', sans-serif;
}
.left_content{
	float: left;
	width: 30%;
	text-align: left;
	font-size: 20px;
	padding-left: 20px;
	background-color: #b1d4f0;
}
.left_content p {
	font-weight: bold;
	padding: 40px 20px;
	margin-bottom: -55px;
	margin-top: 0px;
	color: #144063;
}
ul{
	list-style-type: disc;
	text-align: left;
	padding-bottom: 25px;
}
li{
	padding: 3px 0px;
	color: #144063;
}
.right_content{
	display: inline-block;
	width: 70%
	float: left;
	overflow: hidden;
}
h3{
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 20px;
	color: #144063;
}
.right_content img{
	display: inline-block;
	height: 24px;
	width: auto;
}
.right_content p{
	text-align: left;
	font-size: 16px;
	line-height: 24px;
}
h4{
	color: #144063;
	font-size: 30px;
	margin-left: -85px;
}
h5{
	margin-left: -200px;
	margin-top: -15px;
	color: #144063;
	font-size: 24px;
}